################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CGA/.vs/CGA
/CGA/CGA.BlackJack.Api/bin/Debug/net8.0
/CGA/CGA.BlackJack.Api/obj
